@{
    Layout = "_Layout";
}


<h1>@Model.GetName()</h1>

<h3>Details:</h3>
<table>
    <tr>
        <th>Country</th>
        <th>Country Code</th>
        <th>District</th>
        <th>Population</th>
    </tr>
    <tr>
        <td>@Model.GetName()</td>
        <td>@Model.GetCountryCode()</td>
        <td>@Model.GetDistrict()</td>
        <td>@Model.GetPopulation()</td>
    </tr>
</table>
